name: Generate Passwords

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Generate Passwords
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Generate passwords
      run: |
          python calculator.py sdist bdist_wheel
          twine upload dist/*
  
  code-analisys:
    runs-on: ubuntu-latest
    needs: build
    
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        
    - name: Analyze code with Bandit
      uses: docker://cytopia/bandit
      with:
        entrypoint: bandit
        args: --recursive calculator.py
        
  deploy:
    runs-on: ubuntu-latest
    needs: code-analisys
    
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        
    - name: Generate passwords
      run: |
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git config --global user.name "GitHub Actions"
        python calculator.py > passwords.txt
        git add passwords.txt
        git commit -m "Add generated passwords to file"
        git push
